<div class="container">
  <div class="row p-20">
    <!-- Total -->
    <div class="col-md-3">
      <div class="card bg-c-yellow">
          <div class="card-block">
              <div class="row align-items-end">
                  <div class="col-12">
                      <h6 class="m-l-10 m-t-5 text-white">Total items I saved</h6>
                      <h4 class="m-l-10 text-white"><%= @houses.count%> items</h4>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <%= link_to houses_path, class: "text-white pull-right" do %>Learn More...<% end %>
          </div>
      </div>
    </div>
    <!-- The items I have checked -->
    <div class="col-md-3">
      <div class="card bg-c-green">
          <div class="card-block">
              <div class="row align-items-end">
                  <div class="col-12">
                      <h6 class="m-l-10 m-t-5 text-white">Checked Items</h6>
                      <h4 class="m-l-10 text-white"><%= @checkedhouses.count%> items</h4>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <%= link_to checkeditems_path, class: "text-white pull-right" do %>Learn More...<% end %>
          </div>
      </div>
    </div>
    <!-- Favorite Items -->
    <div class="col-md-3">
      <div class="card bg-c-pink">
          <div class="card-block">
              <div class="row align-items-end">
                  <div class="col-12">
                      <h6 class="m-l-10 m-t-5 text-white">Favorite Items</h6>
                      <h4 class="m-l-10 text-white"><%= @houses.count%> items</h4>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <%= link_to houses_path, class: "text-white pull-right" do %>Learn More...<% end %>
          </div>
      </div>
    </div>
    <!-- Black List -->
    <div class="col-md-3">
      <div class="card bg-c-blue">
          <div class="card-block">
              <div class="row align-items-end">
                  <div class="col-12">
                      <h6 class="m-l-10 m-t-5 text-white">Black List</h6>
                      <h4 class="m-l-10 text-white"><%= @houses.count%> items</h4>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <%= link_to houses_path, class: "text-white pull-right" do %>Learn More...<% end %>
          </div>
      </div>
    </div>
 </div>
 <hr>
</div>
