<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Checked?</th>
          <th scope="col">Location</th>
          <th scope="col">Type</th>
          <th scope="col">Price</th>
          <th scope="col">Size(Sqft)</th>
          <th scope="col">Beds/Baths</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <% @houses.first(20).each do |h| %>
          <tr>
            <td><%= h.id %></td>
            <td><%= h.checked? ? 'o' : 'x'%></td>
            <td>
              <% if h.address.include?("98107" || "98117") %>
                Ballard
              <% elsif h.address.include?("98103") %>
                Fremont
              <% elsif h.address.include?("98119") %>
                North Queen Ann
              <% elsif h.address.include?("98109") %>
                East Queen Ann
              <% else %>
                <%= h.address %>
              <% end %>
            </td>
            <td><%= h.typeofhouse %></td>
            <td><%= currency(h.price) %></td>
            <td><%= h.size %></td>
            <td><%= h.bed %> / <%= h.bath %></td>
            <td>
              <%= link_to "Show", house_path(h.id) %>
              <%= link_to "Edit", edit_house_path(h.id) %>
              <%= link_to("Delete", house_path(h.id), method: :delete, data: { confirm: "Are you sure?"}) %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
